# Data Prep
In order to get start the EDA process, our data sources must be merged and cleaned. This file is for that purpose. Multiple data sources will be used to merge the data properly.
- Pricing Data from the VA. (https://www.va.gov/oalc/foia/library.asp#two)
- Historical Consumer Price index. (https://www.usinflationcalculator.com/inflation/consumer-price-index-and-annual-percent-changes-from-1913-to-2008/)
- Evergreen Patent Database from UC Hastings. (https://sites.uchastings.edu/evergreensearch/archive/)
- FDA approved drugs list.(https://www.fda.gov/drugs/development-approval-process-drugs/national-drug-code-database-background-information)
- Company Data Compiled by us.

**Note** VA pricing data has already been pre-cleaned for use by a different file.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Importing Data

In [2]:
#Dataframe for Evergreen Database
Evgn = pd.read_csv("EvergreenDatasetRaw_Dataset_2005-2018_v02.csv")

#Dataframe for linking NDA (New Drug Application Number) to NDC (National Drug Code)
Link = pd.read_csv("20220906_product.csv")

#Dataframe for Historical VA Pricing. Please download the csv from the following link and change the dir you need.
#https://drive.google.com/uc?id=1ZWlyvtMNjOrOtFlFotvnPDoKeaBD0voe
Pricing = pd.read_csv("C:\\Users\\sulli\\Downloads\\historicvapricing.csv")
#Pricing = pd.read_csv("C:\\Users\\sulli\\Documents\\Code\\Studio 4\\Drug Patents\\historicvapricing.csv")

#Dataframe for Company information 
Companies = pd.read_excel("CompanyFinances.xlsx")

#Dataframe for CPI. Needed to adjust historical pricing for inflation.
CPI = pd.read_csv("CPI.csv")

C:\Users\sulli\AppData\Local\Temp\ipykernel_15548\1712587814.py:9: DtypeWarning: Columns (6,13) have mixed types. Specify dtype option on import or set low_memory=False.
  Pricing = pd.read_csv("C:\\Users\\sulli\\Downloads\\historicvapricing.csv")

## Subsetting Historical Pricing
In order to properly link the VA pricing to the Evergreen patent database, the FDA approved drugs list will be needed to link the NDA to the NDC. The following code block subsets the "Link" dataframe such that only the approved drugs found in the Evergreen database exist.

In [3]:
Link = Link[['applicationnumber','productndc']]
Link = Link[~(Link['applicationnumber'].isna())]
Link = Link[Link['applicationnumber'].str.contains('NDA')]
Link['applicationnumber'] = Link['applicationnumber'].apply(lambda x: (x.replace('ANDA','')))
Link['applicationnumber'] = Link['applicationnumber'].apply(lambda x: int(x.replace('NDA','')))
Link = Link[Link['applicationnumber'].isin(Evgn['NDA #'])]

In order to properly link the NDC code in the the "Link" dataframe to that of the historical pricing, the NDC code needs to be clean. The following code block does this.

In [4]:
Pricing[['NDC1','NDC2','NDC3']] =  Pricing.NDCWithDashes.str.split('-',expand=True)
Pricing=Pricing.drop(columns=['NDC3'])
Pricing['CleanNDC'] = Pricing['NDC1'] + '-' + Pricing['NDC2']

Finally the "Pricing" dataframe is subset using the NDC and merged with the "Link" dataframe using an inner join.

In [5]:
Pricing = Pricing[Pricing['CleanNDC'].isin(Link['productndc'])]
Pricing = Pricing.merge(Link, how='inner',left_on='CleanNDC',right_on='productndc')

The "Link" dataframe will be deleted to save memory.

In [6]:
del(Link)

## Adjusting Historical Pricing for Inflation
Because we are working with historical prices over time, the data will neeed to be adjusted for inflation. The CPI will be used to account for this. First the month and year of the price start date will need to be retrieved.

In [7]:
Pricing['PriceStartDate'] = pd.to_datetime(Pricing['PriceStartDate'])
Pricing['StartMonth'] = Pricing['PriceStartDate'].dt.month
Pricing['StartYear'] = Pricing['PriceStartDate'].dt.year

Next the CPI dataframe will need to be change into the long form in order to create a proper merge.

In [8]:
CPI_numbers = []
CPI_month = []
CPI_year = []
month_year = {1:'Jan',2:'Feb',3:'Mar',4:'Apr',
                 5:'May',6:'June',7:'July',8:'Aug',
                 9:'Sep',10:'Oct',11:'Nov',12:'Dec'}
for year in [2005,2006,2007,2008,2009,2010,2011,
            2012,2013,2014,2015,2016,2017,2018]:
    for month in [1,2,3,4,5,6,7,8,9,10,11,12]:
        column = month_year[month]
        CPI_year.append(year)
        CPI_month.append(month)
        CPI_numbers.append(float(CPI[CPI['Year']==year][column]))

CPI = pd.DataFrame(data=zip(CPI_numbers,CPI_month,CPI_year),
                  columns=['CPI','Month','Year'])

Pricing will then be merged with the CPI.

In [9]:
Pricing = Pricing.merge(CPI, how='inner',left_on=['StartMonth','StartYear'],
                       right_on=['Month','Year'])

Finally, a new column called "InflationAdjustedPrice" will be created.

In [10]:
Pricing['Price'] = pd.to_numeric(Pricing['Price'])
Pricing['InflationAdjustedPrice'] = (Pricing['Price'])/(Pricing['CPI']) * 100

## Adjusting Company Information for Inflation

In [11]:
Companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489 entries, 0 to 488
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company_Name  489 non-null    object
 1   Year          489 non-null    int64
 2   US Company    461 non-null    float64
 3   Revenue       292 non-null    float64
 4   Net_Income    292 non-null    float64
 5   Notes         246 non-null    object
 6   Source        260 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 26.9+ KB

In [12]:
Companies=Companies[['Company_Name','Year','Net_Income','US Company']]
Companies.loc[Companies['US Company'].isna(),'US Company'] = 1
Companies.loc[Companies['Net_Income'].isna(),'IncomeUnknown']=1
Companies.loc[Companies['IncomeUnknown']!=1 ,'IncomeUnknown']= 0
Companies.loc[Companies['Net_Income'].isna(),'Net_Income'] = -1

In [13]:
CPI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CPI     168 non-null    float64
 1   Month   168 non-null    int64
 2   Year    168 non-null    int64
dtypes: float64(1), int64(2)
memory usage: 4.1 KB

In [14]:
temp = CPI[CPI['Month']==12]
Companies = Companies.merge(temp,how='inner',on='Year')

In [15]:
Companies['Net_Income'] = (Companies['Net_Income']/(Companies['CPI'])) * 100

## Reducing Number of Columns
Many columns that have been engineered are now useless and serve as fluff. They will be dropped.

In [16]:
Pricing = Pricing.drop(columns=['Unnamed: 0','NDC1','NDC2','NDCWithDashes',
                               'Month','Year','DateKey'])

In [17]:
Pricing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65930 entries, 0 to 65929
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ContractNumber          65930 non-null  object
 1   VendorName              65930 non-null  object
 2   ContractStartDate       65930 non-null  object
 3   ContractStopDate        65930 non-null  object
 4   SubItemIdentifier       59196 non-null  object
 5   PackageDescription      65930 non-null  object
 6   Generic                 65930 non-null  object
 7   TradeName               65930 non-null  object
 8   VAClass                 65930 non-null  object
 9   Covered                 65930 non-null  object
 10  PrimeVendor             65930 non-null  object
 11  Price                   65930 non-null  float64
 12  PriceStartDate          65930 non-null  datetime64[ns]
 13  PriceStopDate           65930 non-null  object
 14  PriceType               65930 non-null  object
 15  CleanNDC                65930 non-null  object
 16  applicationnumber       65930 non-null  int64
 17  productndc              65930 non-null  object
 18  StartMonth              65930 non-null  int64
 19  StartYear               65930 non-null  int64
 20  CPI                     65930 non-null  float64
 21  InflationAdjustedPrice  65930 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(15)
memory usage: 11.6+ MB

## Adding Price Delta
The change in price percentage will be calculated for each drug and drug description change.

In [18]:
Pricing['Indexer'] = Pricing.index
PriceChange = []
for index in Pricing['Indexer']:
    temp = Pricing[Pricing['Indexer']==index]
    NDC = temp['CleanNDC'].values[0]
    Size = temp['PackageDescription'].values[0]
    PriceDate = temp['PriceStartDate'].values[0]
    Price = temp['InflationAdjustedPrice'].values[0]
    temp = Pricing[(Pricing['CleanNDC']==NDC)&(Pricing['PackageDescription']==Size)&
                  (Pricing['PriceStartDate']<PriceDate)]
    if len(temp)==0:
        PriceChange.append(0)
    else:
        temp =temp.sort_values('InflationAdjustedPrice', ascending=False)
        recent_price = temp['InflationAdjustedPrice'].values[0]
        PriceDelta = (Price-recent_price)/(recent_price)
        PriceChange.append(PriceDelta)
Pricing=Pricing.drop(columns=['Indexer'])
Pricing['PriceDelta'] = PriceChange

## Adding Features to Evergreen Dataframe
There are some features that would be beneficial inclusions in the Evergreen Dataframe. Particularly, including the previous number of patents for a given drug would be a good start. First, the "Date Added" column will have to be change for any drug listed as "pre-2005". For ease of use, they will be entered as "1/1/05".

In [19]:
Evgn

,Active Ingredient,NDA #,Product Name,Company,Approval Date,P or E,Date Added,Patent Number,Expiration Date,Codes,Strengths,Delist Request,Orig,Analysis,Added strength,# added strengths,Applied to UC,2nd add,Comments
0,Abacavir Sulfate,20977,Ziagen*,VIIV HLTHCARE,12/17/98,P,pre-2005,5034394,12/18/11,NaN,1,NaN,NaN,Pre-2005,NaN,NaN,NaN,NaN,10/26/72
1,Abacavir Sulfate,20977,Ziagen*,VIIV HLTHCARE,NaN,P,pre-2005,5089500,6/26/09,U-248,1,NaN,NaN,Pre-2005,NaN,NaN,NaN,NaN,NaN
2,Abacavir Sulfate,20977,Ziagen*,VIIV HLTHCARE,NaN,P,pre-2005,6294540,5/14/18,U-65,1,NaN,NaN,Pre-2005,NaN,NaN,NaN,NaN,NaN
3,Abacavir Sulfate,20977,Ziagen*,VIIV HLTHCARE,NaN,P,pre-2005,5034394*PED,6/18/12,NaN,1,NaN,NaN,Pre-2005,NaN,NaN,NaN,NaN,12/22/15
4,Abacavir Sulfate,20977,Ziagen*,VIIV HLTHCARE,NaN,P,pre-2005,5089500*PED,12/26/09,NaN,1,NaN,NaN,Pre-2005,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21287,Zolpidem Tartrate,22328,Intermezzo,PURDUE PHARMA,NaN,P,11/28/11,7682628,2/16/25,U-1194,"001, 002",NaN,Yes,P:UC,NaN,NaN,NaN,NaN,NaN
21288,Zolpidem Tartrate,22328,Intermezzo,PURDUE PHARMA,NaN,E,11/28/11,NaN,11/23/14,NP,"001, 002",NaN,Yes,NP,NaN,NaN,NaN,NaN,NaN
21289,Zolpidem Tartrate,22328,Intermezzo,PURDUE PHARMA,NaN,P,8/28/12,8242131,8/20/29,U-1266,"001, 002",NaN,No,P:UCnew,NaN,NaN,NaN,NaN,NaN
21290,Zolpidem Tartrate,22328,Intermezzo,PURDUE PHARMA,NaN,P,8/28/12,8252809,2/16/25,DP,"001, 002",NaN,No,P:DP,NaN,NaN,NaN,NaN,NaN
21291,Zonisamide,20789,Zonegran*,SUNOVION PHARMS INC,3/27/00,E,pre-2005,NaN,3/27/05,NCE,"001, 002, 003",NaN,NaN,Pre-2005,NaN,NaN,NaN,NaN,NaN

In [20]:
Evgn['Pre2005Flag'] = [0] *len(Evgn)
Evgn.loc[Evgn['Date Added']=='pre-2005','Pre2005Flag']=1
Evgn.loc[Evgn['Date Added']=='pre-2005','Date Added']= '1/1/05'

The dates for "Date Added" and "Expiration Date" need to be properly formatted. Currently the year is listed as the last two digits. To fix this we can simply add 2000 years to the date and cast it as date time.

In [21]:
Evgn['AddedMonth'] = Evgn['Date Added'].apply(lambda x: x.split('/')[0])
Evgn['AddedDay'] = Evgn['Date Added'].apply(lambda x: x.split('/')[1])
Evgn['AddedYear'] = Evgn['Date Added'].apply(lambda x: x.split('/')[2])
#This handles a specific outlier that messed things up
Evgn.loc[Evgn['AddedYear'].str.len() == 1,'AddedYear'] = '0' + Evgn['AddedYear']
Evgn['Date Added'] = pd.to_datetime(Evgn['AddedMonth'] + '/' + 
                                    Evgn['AddedDay'] + '/20' + Evgn['AddedYear'])
Evgn['ExpirationMonth'] = Evgn['Expiration Date'].apply(lambda x: x.split('/')[0])
Evgn['ExpirationDay'] = Evgn['Expiration Date'].apply(lambda x: x.split('/')[1])
Evgn['ExpirationYear'] = Evgn['Expiration Date'].apply(lambda x: x.split('/')[2])
Evgn['Expiration Date'] = pd.to_datetime(Evgn['ExpirationMonth'] + '/' + 
                                         Evgn['ExpirationDay'] + '/20' + Evgn['ExpirationYear'])
Evgn = Evgn.drop(columns=['AddedMonth','AddedDay','AddedYear','ExpirationMonth','ExpirationDay','ExpirationYear'])

Now the complicated part will be to do math based on previous information. This will be a slow for loop that will hopefully run not terribly slow.

In [22]:
#Used for index in for loop
Evgn['Indexer'] = Evgn.index
PreviousPatents = []
nextExpiration = []
for index in Evgn['Indexer']:
    dateAdded = Evgn[Evgn['Indexer']==index]['Date Added']
    drugNDA = Evgn[Evgn['Indexer']==index]['NDA #']
    subset2 = Evgn[(Evgn['NDA #']==drugNDA.values[0])&
                             (Evgn['Date Added']<dateAdded.values[0])]
    count_previous = len(subset2)
    PreviousPatents.append(count_previous)
    
    nextExpiration.append(Evgn[(Evgn['NDA #']==drugNDA.values[0])&
                             (Evgn['Date Added']<=dateAdded.values[0])]["Expiration Date"].max())

In [23]:
Evgn['PreviousPatents'] = PreviousPatents
Evgn['LatestExpiration'] = nextExpiration
Evgn=Evgn.drop(columns='Indexer')

## Merging Evergreen Database with Pricing
The final step in our dataprep phase is to get one concrete dataset. To accomplish this, the evergreen dataset will be merged with the pricing dataset using an inner join on the "NDA #".

In [24]:
Pricing = Pricing.drop_duplicates()

#Change which line is commented to change the unit of analysis. Pricing is price level and Evgn is patent level.
#Pricing['Indexer'] = Pricing.index
Evgn['Indexer'] = Evgn.index

Combined = Pricing.merge(Evgn,how='inner',left_on="applicationnumber",
                        right_on="NDA #")

Because an NDA can appear multiple times, logic needs to be included such that only the most recent patent is included. This means two things, patents with an addition date later than the pricing should be excluded and only the most recent patent should be included.

In [25]:
Combined = Combined[Combined['Date Added'] <= Combined['PriceStartDate']]

The following codeblock retrieves the most recent patent information and subset's to the correct records.

In [26]:
Combined['Indexer2'] = Combined.index
mostRecentAddition = []
for index in Combined['Indexer'].unique():
    subset = Combined[Combined['Indexer']==index].sort_values("PriceStartDate",ascending=False)
    mostRecentAddition.append(list(subset['Indexer2'])[0])
Combined=Combined[Combined['Indexer2'].isin(mostRecentAddition)]

In [27]:
Combined['MonthsUntilExpiration'] = (Combined['LatestExpiration']-Combined['Date Added']).astype('timedelta64[M]')

Adding the percentage of previous filings flagged as evergreen for each company.

In [28]:
percentages = []
for application in Combined['applicationnumber']:
    temp = Combined[Combined['applicationnumber']==application]
    date = temp['Date Added'].values[0]
    company = temp['Company'].values[0]
    temp = Combined[(Combined['Date Added']<date)&(Combined['Company']==company)]
    if len(temp) != 0: 
        percent = len(temp[temp['P or E']=='E'])/(len(temp))
    else:
        percent = 0
    percentages.append(percent)

In [29]:
Combined['PercentageE'] = percentages

In [30]:
Combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1643 entries, 15943 to 112615
Data columns (total 49 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ContractNumber          1643 non-null   object
 1   VendorName              1643 non-null   object
 2   ContractStartDate       1643 non-null   object
 3   ContractStopDate        1643 non-null   object
 4   SubItemIdentifier       887 non-null    object
 5   PackageDescription      1643 non-null   object
 6   Generic                 1643 non-null   object
 7   TradeName               1643 non-null   object
 8   VAClass                 1643 non-null   object
 9   Covered                 1643 non-null   object
 10  PrimeVendor             1643 non-null   object
 11  Price                   1643 non-null   float64
 12  PriceStartDate          1643 non-null   datetime64[ns]
 13  PriceStopDate           1643 non-null   object
 14  PriceType               1643 non-null   object
 15  CleanNDC                1643 non-null   object
 16  applicationnumber       1643 non-null   int64
 17  productndc              1643 non-null   object
 18  StartMonth              1643 non-null   int64
 19  StartYear               1643 non-null   int64
 20  CPI                     1643 non-null   float64
 21  InflationAdjustedPrice  1643 non-null   float64
 22  PriceDelta              1643 non-null   float64
 23  Active Ingredient       1643 non-null   object
 24  NDA #                   1643 non-null   int64
 25  Product Name            1643 non-null   object
 26  Company                 1643 non-null   object
 27  Approval Date           117 non-null    object
 28  P or E                  1643 non-null   object
 29  Date Added              1643 non-null   datetime64[ns]
 30  Patent Number           1320 non-null   object
 31  Expiration Date         1643 non-null   datetime64[ns]
 32  Codes                   1374 non-null   object
 33  Strengths               1642 non-null   object
 34  Delist Request          9 non-null      object
 35  Orig                    1064 non-null   object
 36  Analysis                1614 non-null   object
 37  Added strength          90 non-null     object
 38  # added strengths       0 non-null      float64
 39  Applied to UC           9 non-null      object
 40  2nd add                 20 non-null     object
 41  Comments                4 non-null      object
 42  Pre2005Flag             1643 non-null   int64
 43  PreviousPatents         1643 non-null   int64
 44  LatestExpiration        1643 non-null   datetime64[ns]
 45  Indexer                 1643 non-null   int64
 46  Indexer2                1643 non-null   int64
 47  MonthsUntilExpiration   1643 non-null   float64
 48  PercentageE             1643 non-null   float64
dtypes: datetime64[ns](4), float64(7), int64(8), object(30)
memory usage: 641.8+ KB

Finally, we'll grab all the columns that will be used for the analysis.

In [31]:
Combined = Combined[['Company','Price','PriceStartDate','Date Added',
                     'InflationAdjustedPrice','Analysis',
                     'P or E','Pre2005Flag','PreviousPatents','LatestExpiration',
                    'MonthsUntilExpiration','PriceDelta','PercentageE']]
Combined = Combined.reset_index().drop(columns='index')

In [32]:
Combined['Company'].unique()

array(['GILEAD SCIENCES INC', 'GILEAD', 'EMD SERONO INC', 'GENZYME',
       'JANSSEN PHARMS', 'BAYER HEALTHCARE LLC', 'PHARMACIA AND UPJOHN',
       'PFIZER', 'GILEAD SCIENCES', 'FERRING', 'SANOFI', 'INDIVIOR INC',
       'BAXTER HLTHCARE', 'GD SEARLE LLC', 'NOVEN PHARMS INC',
       'APOTEX TECHNOLOGIES', 'PHARMACIA UPJOHN', 'PFIZER PHARMS',
       'MYLAN SPECIALITY LP', 'APOPHARMA INC', 'TARO',
       'SANOFI AVENTIS US', 'MALLINCKRODT ARD', 'NPS PHARMS INC',
       'TARO PHARMS', 'NOVEN', 'FERRING PHARMS INC', 'PHOTOCURE ASA',
       'ARBOR PHARMS LLC', 'GUERBET', 'PF PRISM CV', 'NOVA LABS LTD',
       'IPSEN PHARMA', 'GENZYME CORP', 'GD SEARLE', 'R-PHARM US LLC',
       'VELOXIS PHARMS INC', 'AMNEAL PHARMS LLC', 'TAIHO ONCOLOGY',
       'HERITAGE LIFE', 'OPKO IRELAND GLOBAL', 'SILVERGATE PHARMS',
       'MITSUBISHI TANABE', 'IPSEN INC', 'NEUROCRINE', 'APIL',
       'SMITHKLINE BEECHAM', 'ALNYLAM PHARMS INC', 'EXELA PHARMA SCS LLC',
       'PFIZER IRELAND', 'PFIZER INC'], dtype=object)

## Adding Company Info

In [33]:
#change names of those who are the same company just different written name
Combined.loc[Combined['Company'].str.contains('GILEAD'), 'Company'] = 'GILEAD'
Combined.loc[Combined['Company'].str.contains('IPSEN'), 'Company'] = 'IPSEN'
Combined.loc[Combined['Company'].str.contains('PFIZER'), 'Company'] = 'PFIZER'
Combined.loc[Combined['Company'].str.contains('GENZYME'), 'Company'] = 'GENZYME'
Combined.loc[Combined['Company'].str.contains('TARO'), 'Company'] = 'TARO'
Combined.loc[Combined['Company'].str.contains('SANOFI'), 'Company'] = 'SANOFI'
Combined.loc[Combined['Company'].str.contains('UPJOHN'), 'Company'] = 'PFIZER'
Combined.loc[Combined['Company'].str.contains('NOVEN'), 'Company'] = 'NOVEN'
Combined.loc[Combined['Company'].str.contains('GD SEARLE'), 'Company'] = 'GD SEARLE'

In [34]:
Companies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 489 entries, 0 to 488
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Name   489 non-null    object
 1   Year           489 non-null    int64
 2   Net_Income     489 non-null    float64
 3   US Company     489 non-null    float64
 4   IncomeUnknown  489 non-null    float64
 5   CPI            489 non-null    float64
 6   Month          489 non-null    int64
dtypes: float64(4), int64(2), object(1)
memory usage: 30.6+ KB

In [35]:
Companies = Companies[['Company_Name','Year','Net_Income','US Company', 'IncomeUnknown']]
Combined['Index'] = Combined.index
Combined = Combined.merge(Companies,how='inner',left_on='Company',right_on='Company_Name')
Combined = Combined.reset_index()
Combined['Index2'] = Combined.index

Now the dataframe will be exported to a csv file for later use.

In [36]:
Combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20681 entries, 0 to 20680
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   index                   20681 non-null  int64
 1   Company                 20681 non-null  object
 2   Price                   20681 non-null  float64
 3   PriceStartDate          20681 non-null  datetime64[ns]
 4   Date Added              20681 non-null  datetime64[ns]
 5   InflationAdjustedPrice  20681 non-null  float64
 6   Analysis                20326 non-null  object
 7   P or E                  20681 non-null  object
 8   Pre2005Flag             20681 non-null  int64
 9   PreviousPatents         20681 non-null  int64
 10  LatestExpiration        20681 non-null  datetime64[ns]
 11  MonthsUntilExpiration   20681 non-null  float64
 12  PriceDelta              20681 non-null  float64
 13  PercentageE             20681 non-null  float64
 14  Index                   20681 non-null  int64
 15  Company_Name            20681 non-null  object
 16  Year                    20681 non-null  int64
 17  Net_Income              20681 non-null  float64
 18  US Company              20681 non-null  float64
 19  IncomeUnknown           20681 non-null  float64
 20  Index2                  20681 non-null  int64
dtypes: datetime64[ns](3), float64(8), int64(6), object(4)
memory usage: 3.3+ MB

In [37]:
Combined['Date Added Year'] = Combined['Date Added'].dt.year

In [38]:
Combined = Combined[Combined['Date Added Year']>Combined['Year']]

In [39]:
Combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8070 entries, 0 to 20678
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   index                   8070 non-null   int64
 1   Company                 8070 non-null   object
 2   Price                   8070 non-null   float64
 3   PriceStartDate          8070 non-null   datetime64[ns]
 4   Date Added              8070 non-null   datetime64[ns]
 5   InflationAdjustedPrice  8070 non-null   float64
 6   Analysis                7752 non-null   object
 7   P or E                  8070 non-null   object
 8   Pre2005Flag             8070 non-null   int64
 9   PreviousPatents         8070 non-null   int64
 10  LatestExpiration        8070 non-null   datetime64[ns]
 11  MonthsUntilExpiration   8070 non-null   float64
 12  PriceDelta              8070 non-null   float64
 13  PercentageE             8070 non-null   float64
 14  Index                   8070 non-null   int64
 15  Company_Name            8070 non-null   object
 16  Year                    8070 non-null   int64
 17  Net_Income              8070 non-null   float64
 18  US Company              8070 non-null   float64
 19  IncomeUnknown           8070 non-null   float64
 20  Index2                  8070 non-null   int64
 21  Date Added Year         8070 non-null   int64
dtypes: datetime64[ns](3), float64(8), int64(7), object(4)
memory usage: 1.4+ MB

In [45]:
indices = []
for index in Combined['Index'].unique():
    temp = Combined[Combined['Index']==index].sort_values('Year',ascending=False)
    indices.append(list(temp['Index2'])[0])
Combined=Combined[Combined['Index2'].isin(indices)]
Combined=Combined[['Company','Price','PriceStartDate','Date Added',
                     'InflationAdjustedPrice','Analysis',
                     'P or E','Pre2005Flag','PreviousPatents','LatestExpiration',
                    'MonthsUntilExpiration','PriceDelta','PercentageE',
                  'Net_Income','US Company', 'IncomeUnknown']]

In [46]:
Combined.to_csv("CleanedData.csv",index=False)